:root {
    --primary-color: #fff;
    --sub-color: #b3b3b3;
    --btn-play: #1ed760;
    --height-sideBar: 400px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}
.spot-padding {
    padding: 24px 12px 0 16px;
}
.m-right__icon-text {
    margin-right: 26px;
}
.m-right {
    margin-right: 14px;
}
.m-bottom {
    margin-bottom: 24px;
}

