:root {
    --primary-color: #fff;
    --sub-color: #b3b3b3;
    --btn-play: #1ed760;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}
.spot-padding {
    padding: 24px 12px 0 16px;
}
.m-right__icon-text {
    margin-right: 26px;
}
.m-right {
    margin-right: 14px;
}
.m-bottom {
    margin-bottom: 24px;
}
/* Navigation left */
.container {
    background: #000;
}
.row.container__wrap {
    padding: 8px;
}
.player__nav {
    z-index: 9999;
}
.player__nav-icon,
.player__nav-library {
    color: var(--sub-color);
    background-color: #121212;
    border-radius: 8px;
}
.paragraph {
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 24px;
}
.paragraph:hover {
    cursor: pointer;
    color: #fff;
}
.paragraph i {
    font-size: 2.2rem;
}
.nav-library__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}
.nav-library__title {
    display: flex;
    align-items: center;
}
.nav-library__title:hover .library__text {
    cursor: pointer;
    color: #fff;
}
.nav-library__title:hover svg {
    fill: #fff;
    cursor: pointer;
} 
.library__svg {
    width: 24px;
    height: 24px;
    color: var(--sub-color);
}
.library__text {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--sub-color);
}
.nav-library__icon {
    color: var(--sub-color);
    font-size: 2rem;
}
.nav-library__icon-1 {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
}
.nav-library__icon-1:hover{
    cursor: pointer;
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: 0 8px 8px rgba(0,0,0,0.4)
}
.nav-library__list {
    display: flex;
}
.library__list-item {
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 10px;
    padding: 6px 14px;
    border-radius: 30px;
    background: #232323;
    color: var(--primary-color);
}
.library__list-item:hover {
    background-color: #ececec24;
    cursor: pointer
}
.nav-library__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sub-color);
}
.library__search-icon {
    font-size: 1.8rem;
}
.library__search-recent-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.library__search-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 8px;
}
.library__search-bar {
    font-size: 1.8rem;
}
.nav-library__playlist-wrap {
    display: flex;
    flex-direction: column;
}
.nav-library__playlist {
    display: flex;
    flex: 1;
    padding: 10px 0;
    cursor: pointer;
}
.nav-library__playlist--active {
    background-color: #232323;
    border-radius: 6px;
    padding: 10px 10px
}
.library__playlist-img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
}
.library__playlist-about {
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 10px;
}
.playlist-about-1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
}
.playlist-about-2 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.playlist-about-2-icon {
    margin-right: 10px;
    color:#1ed760;
    display: none;
}
.playlist-about-2--active .playlist-about-2-icon {
    display: block;
}


/* Body of content */
.player__list {
    z-index: 9999;
    color: var(--primary-color);
}
.playlist__list-header-wrap {
    background-image: linear-gradient(#4f399b, #121212);
    height: 200px;
}
.player__list-header {
    display: flex;
    justify-content: space-between;
    padding: 18px 26px;
    position: fixed;
    width: 1248px;
}
.player__list-header-button {
    width: 36px;
    height: 36px;
    border-radius: 30px;
    border-color: transparent;
    margin-right: 10px;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}
.player__list-header-button--default {
    background-color: rgba(0,0,0,0.4);
    cursor: no-drop;
}
.player__header-icon-1 {
    font-size: 2rem;
    text-align: center;
    line-height: 30px;
    color: var(--primary-color)
}
.player__header-icon-1--default {
    opacity: 0.4;
}
.player__header-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn {
    border-radius: 30px;
    border-color: transparent;
    padding: 8px 0;
    cursor: pointer;
}
.player__header-btn {
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
    background-color: var(--primary-color);
    padding-left: 18px;
    padding-right: 18px;
}
.player__header-link-download {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    background-color: rgba(0,0,0,0.4);
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
}
.player__header-link-download i {
    margin-right: 4px;
    font-size: 1.6rem;
}
.header__icon-notify,
.header__login-person {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
    color: var(--sub-color);
    cursor: pointer;
}
.header__login-avatar {
    position: relative;
    top: 3px;
    width: 32px;
    left: 5px;
    height: 32px;
    border-radius: 30px;
    background-color: #7D4B32;
    line-height: 32px;
    color: #000;
}
.player__header-info--hover:hover {
    transform: scale(1.1);
}
